<?xml version="1.0" ?>
<model>
    <name>URaB Sub</name>
    <version>1.0</version>
    <sdf version="1.5">urab_sub.sdf</sdf>
    <author>
        <name>Underwater Robotics @ Berkeley (UR@B) mechanical team</name>
        <email>todo</email>
    </author>
    <description>A model for the sub we'll use at the competition</description>
</model>
