<launch>
    <include file="$(find razor_imu_9dof)/launch/razor-pub.launch" />
    <node name="sub_controls" pkg="controls" type="sub_init.py" ns="sub" />
    <node name="velocity_transform" pkg="controls" type="velocity_transformer.py" ns="sub" />
    <!-- <node name="pixhawk_interface" pkg="controls" type="pixhawk_interface.py" /> -->
</launch>